USE [master]
GO
/****** Object:  Database [HRContext]    Script Date: 7/6/2020 1:35:25 PM ******/
CREATE DATABASE [HRContext]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HRContext', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HRContext.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HRContext_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HRContext_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HRContext].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HRContext]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/6/2020 1:35:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CVs]    Script Date: 7/6/2020 1:35:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Surname] [nvarchar](max) NOT NULL,
	[Age] [int] NOT NULL,
	[Gender] [nvarchar](max) NULL,
	[Study] [nvarchar](max) NULL,
	[WorkExperience] [nvarchar](max) NULL,
	[Category] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[MininumSalary] [int] NOT NULL,
	[Mobile] [nvarchar](13) NULL,
	[EmployeeId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.CVs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 7/6/2020 1:35:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HRs]    Script Date: 7/6/2020 1:35:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HRs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.HRs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VacancieEmployees]    Script Date: 7/6/2020 1:35:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VacancieEmployees](
	[Vacancie_Id] [int] NOT NULL,
	[Employee_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.VacancieEmployees] PRIMARY KEY CLUSTERED 
(
	[Vacancie_Id] ASC,
	[Employee_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vacancies]    Script Date: 7/6/2020 1:35:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vacancies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VacancieName] [nvarchar](max) NOT NULL,
	[CompanyName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[City] [nvarchar](max) NOT NULL,
	[Salary] [int] NOT NULL,
	[Age] [int] NOT NULL,
	[Study] [nvarchar](max) NULL,
	[WorkExperience] [nvarchar](max) NULL,
	[Mobile] [nvarchar](13) NOT NULL,
	[HrId] [int] NOT NULL,
	[Category] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Vacancies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CVs] ON 

INSERT [dbo].[CVs] ([Id], [Name], [Surname], [Age], [Gender], [Study], [WorkExperience], [Category], [City], [MininumSalary], [Mobile], [EmployeeId]) VALUES (1, N'Zumrud', N'Aliyeva', 29, N'female', N'Higher education', N'1-3 years', N'Information Technology', N'Baku', 4000, N'+994514400144', 8)
SET IDENTITY_INSERT [dbo].[CVs] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [Username], [Password], [Email], [Status]) VALUES (1, N'user!', N'1234', N'use@gmail.com', N'Employee')
INSERT [dbo].[Employees] ([Id], [Username], [Password], [Email], [Status]) VALUES (2, N'User2', N'1234', N'user2@gmail.com', N'Employee')
INSERT [dbo].[Employees] ([Id], [Username], [Password], [Email], [Status]) VALUES (3, N'emp4', N'Emp124/n', N'emp4@gmail.com', N'Employee')
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[HRs] ON 

INSERT [dbo].[HRs] ([Id], [Username], [Password], [Email], [Status]) VALUES (1, N'user!', N'1234', N'use@gmail.com', N'HR')
INSERT [dbo].[HRs] ([Id], [Username], [Password], [Email], [Status]) VALUES (2, N'User3', N'123', N'dhghgj', N'HR')
INSERT [dbo].[HRs] ([Id], [Username], [Password], [Email], [Status]) VALUES (3, N'User4', N'sdfghjk', N'sdfghjkl', N'HR')
SET IDENTITY_INSERT [dbo].[HRs] OFF
GO
SET IDENTITY_INSERT [dbo].[Vacancies] ON 

INSERT [dbo].[Vacancies] ([Id], [VacancieName], [CompanyName], [Description], [City], [Salary], [Age], [Study], [WorkExperience], [Mobile], [HrId], [Category]) VALUES (1, N'IT', N'Zet Company', N'This for just test', N'Baku', 7000, 30, N'Higher education', N'Less than a year', N'+994514400144', 4, N'Information Technology')
INSERT [dbo].[Vacancies] ([Id], [VacancieName], [CompanyName], [Description], [City], [Salary], [Age], [Study], [WorkExperience], [Mobile], [HrId], [Category]) VALUES (2, N'sdfghjk', N'fghjkbkjbl', N'ghju giuh kghkuho', N'denver', 10000, 25, N'Incomplete higher education', N'Less than a year', N'+994707777777', 4, N'Admininstration and management')
INSERT [dbo].[Vacancies] ([Id], [VacancieName], [CompanyName], [Description], [City], [Salary], [Age], [Study], [WorkExperience], [Mobile], [HrId], [Category]) VALUES (3, N'Teacher', N'RWTH Aachen University', N'For test', N'Aachen', 10000, 40, N'Higher education', N'5 years or more', N'+994704442222', 2, N'Education and Science')
SET IDENTITY_INSERT [dbo].[Vacancies] OFF
GO
/****** Object:  Index [IX_EmployeeId]    Script Date: 7/6/2020 1:35:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeId] ON [dbo].[CVs]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employee_Id]    Script Date: 7/6/2020 1:35:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Employee_Id] ON [dbo].[VacancieEmployees]
(
	[Employee_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vacancie_Id]    Script Date: 7/6/2020 1:35:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Vacancie_Id] ON [dbo].[VacancieEmployees]
(
	[Vacancie_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HrId]    Script Date: 7/6/2020 1:35:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_HrId] ON [dbo].[Vacancies]
(
	[HrId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Vacancies] ADD  DEFAULT ('') FOR [Category]
GO
ALTER TABLE [dbo].[CVs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CVs_dbo.Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CVs] CHECK CONSTRAINT [FK_dbo.CVs_dbo.Employees_EmployeeId]
GO
ALTER TABLE [dbo].[VacancieEmployees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VacancieEmployees_dbo.Employees_Employee_Id] FOREIGN KEY([Employee_Id])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VacancieEmployees] CHECK CONSTRAINT [FK_dbo.VacancieEmployees_dbo.Employees_Employee_Id]
GO
ALTER TABLE [dbo].[VacancieEmployees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.VacancieEmployees_dbo.Vacancies_Vacancie_Id] FOREIGN KEY([Vacancie_Id])
REFERENCES [dbo].[Vacancies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VacancieEmployees] CHECK CONSTRAINT [FK_dbo.VacancieEmployees_dbo.Vacancies_Vacancie_Id]
GO
ALTER TABLE [dbo].[Vacancies]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Vacancies_dbo.HRs_HrId] FOREIGN KEY([HrId])
REFERENCES [dbo].[HRs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Vacancies] CHECK CONSTRAINT [FK_dbo.Vacancies_dbo.HRs_HrId]
GO
USE [master]
GO
